<div class="row">
  <div class="col-12">
    <nb-card style="padding: 20px;">
      <div class="row">
        <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
          <h1>Datos Perro</h1>
          <ul>
            <li>Chip: {{perro.Chip}}</li>
            <li>Nombre: {{perro.Nombre}}</li>
            <li>Raza: {{perro.Raza}}</li>
          </ul>
        </div>

        <div class="col-xxxl-9 col-xxl-8 col-lg-7 col-md-6">
          <h1>Consultas</h1>
          <ul>
            <li *ngFor="let consulta of consultas">{{consulta.Importe + '€ - ' + consulta.Observaciones}}</li>
          </ul>
        </div>
      </div>
      <button class="btn btn-primary btn-md" (click)="closeModal()">Cerrar</button>
    </nb-card>
  </div>
</div>