<div class="row">
  <div class="col-12">
    <div>
      <span>
        <a href="#/">Inicio</a>
        {{' > '}}
      </span>
      <span *ngFor="let item of parsedUrl">
        <span *ngIf="!item.isLast">
          <a [href]="item.href">{{item.name}}</a>
          {{' > '}}
        </span>
        <span *ngIf="item.isLast">
          {{item.name}}
        </span>
      </span>
    </div>
  </div>
</div>