<div class="row">
  <div class="col-12">
    <nb-card style="padding: 20px;">
      <div class="row">
        <div class="col-4">Cliente: {{cliente.Nombre}}</div>
        <div class="col-4">DNI: {{cliente.Dni}}</div>
        <div class="col-4">Telefono: {{cliente.Telefono}}</div>
        <div class="col-4">Chip: {{perro.Chip}}</div>
        <div class="col-4">Raza: {{perro.Raza}}</div>
        <div class="col-4">Nombre: {{perro.Nombre}}</div>
      </div>

      <!-- <form> -->
        <div class="form-group row">
          <label for="inputEmail1" class="col-sm-3 col-form-label">Observaciones</label>
          <div class="col-sm-9">
            <textarea id="inputEmail1" [(ngModel)]="consulta.Observaciones" class="form-control"></textarea>
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail2" class="col-sm-5 col-form-label">Importe</label>
          <div class="col-sm-2">
            <input name="email" [(ngModel)]="consulta.Importe" id="inputEmail" type="number" class="form-control" pattern="(\d{0,5}(\.\d{1,2}){0,1})"
              #email="ngModel" [class.form-control-danger]="email.invalid && email.touched" autofocus [required]="true">
          </div>
          <small class="form-text error" *ngIf="email.invalid && email.touched && email.errors?.required">
            Importe obligatorio
          </small>
          <small class="form-text error" *ngIf="email.invalid && email.touched && email.errors?.pattern">
            Importe no válido
          </small>
          <nb-checkbox [(ngModel)]="consulta.Pagada">consulta pagada</nb-checkbox>
          <nb-checkbox [(ngModel)]="consulta.Baja">tras la consulta el perro causa baja</nb-checkbox>
        </div>
      <!-- </form> -->

      <div style="margin-top: 20px;">
        <button class="btn btn-primary btn-sm" (click)="saveConsulta()">Guardar</button>
        <button (click)="verHistorial()" class="btn btn-primary btn-sm">Ver historial</button>
      </div>
    </nb-card>
  </div>
</div>