<div class="row">
  <div class="col-12">
    <nb-card>
      <nb-tabset>
        <nb-tab tabTitle="Veterinarios">
          <ng2-smart-table [settings]="settingsVeterinarios" [source]="sourceVeterinarios" (deleteConfirm)="onDeleteConfirm($event)"></ng2-smart-table>
        </nb-tab>
        <nb-tab tabTitle="Clientes">
          <div class="form-group row">
            <label for="inputEmail2" class="col-sm-1 col-form-label">DNI</label>
            <div class="col-sm-4">
              <input #inputEmail2 id="inputEmail2" class="form-control" type="text" />
            </div>
            <button class="btn btn-primary btn-sm" (click)="comprobarDNI(inputEmail2.value)">Comprobar</button>
          </div>

          <ng2-smart-table [settings]="settingsClientes" [source]="sourceClientes" (deleteConfirm)="onDeleteConfirm($event)"></ng2-smart-table>
        </nb-tab>
        <nb-tab tabTitle="Configuracion">
          <span class="aService">Content #3</span>
        </nb-tab>
      </nb-tabset>
    </nb-card>
  </div>
</div>