<div class="row">
  <div class="col-12">
    <nb-card>

      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="inputEmail">Chip</label>
            <input name="email" [(ngModel)]="user" id="inputEmail" class="form-control" pattern="[A-Za-z0-9]{4}"
              #email="ngModel" [class.form-control-danger]="email.invalid && email.touched" autofocus [required]="true">
            <small class="form-text error" *ngIf="email.invalid && email.touched && email.errors?.required">
              Chip obligatorio
            </small>
            <small class="form-text error" *ngIf="email.invalid && email.touched && email.errors?.pattern">
              Chip no válido
            </small>
          </div>
          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-3 col-form-label">Nombre</label>
            <div class="col-sm-4">
              <input id="inputEmail3" class="form-control" type="text" />
            </div>
          </div>

        </div>
        <div class="col-6">
          <div class="form-group row">
            <label for="inputEmail2" class="col-sm-3 col-form-label">Raza</label>
            <div class="col-sm-4">
              <input id="inputEmail2" class="form-control" type="text" />
            </div>
            <nb-checkbox>24 horas</nb-checkbox>
          </div>
        </div>
      </div>
      <button class="btn btn-primary btn-sm">Aceptar</button>

    </nb-card>
  </div>
</div>