<div class="row">
  <div class="col-12">
    <nb-card>
      <nb-tabset>
        <nb-tab tabTitle="Visita">
          <div *ngIf="!visitaDespues">
            <button class="btn btn-primary btn-md" (click)="nextAviso()">Siguiente Visita</button>
          </div>
          <div *ngIf="visitaDespues">
            <div class="row">
              <div class="col-4">Cliente: {{visitaDespuesData.Nombre}}</div>
              <div class="col-4">DNI: {{visitaDespuesData.Dni}}</div>
              <div class="col-4">Telefono: {{visitaDespuesData.Telefono}}</div>
              <div class="col-4">Direccion: {{visitaDespuesData.Direccion}}</div>
            </div>

            <table border="1px" style="width:100%;">
              <thead>
                <tr>
                  <th>Chip</th>
                  <th>Nombre</th>
                  <th>Raza</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let perro of visitaDespuesData.Perros" (click)="openModalCreateConsulta(perro)">
                  <td>{{perro.Chip}}</td>
                  <td>{{perro.Nombre}}</td>
                  <td>{{perro.Raza}}</td>
                </tr>
              </tbody>
            </table>
            <div style="margin-top: 20px;">

              <button class="btn btn-primary btn-sm" (click)="visitaDespues = false;">Fin Visita</button>
              <a href="#/veterinarios/nperros" class="btn btn-primary btn-sm">Nuevo Perro</a>
            </div>
          </div>
        </nb-tab>
        <nb-tab tabTitle="Configuracion">
          <div class="row">
            <div class="col-6">
              <span>Nombre: {{config.Nombre}}</span>
              <div class="form-group row">
                <label for="inputEmail2" class="col-sm-3 col-form-label">Nueva Contraseña</label>
                <div class="col-sm-4">
                  <input id="inputEmail2" [(ngModel)]="config.Contrasena" class="form-control" type="password" />
                </div>
              </div>
              <div class="form-group row">
                <label for="inputEmail3" class="col-sm-3 col-form-label">Repetir Contraseña</label>
                <div class="col-sm-4">
                  <input id="inputEmail3" [(ngModel)]="config.Contrasena1" class="form-control" type="password" />
                </div>
              </div>

            </div>
            <div class="col-6">
              <span>Apellidos: {{config.Apellidos}}</span>
              <div class="form-group">
                <label for="inputEmail">Telefono</label>
                <input name="email" [(ngModel)]="config.Telefono" type="number" max="9" id="inputEmail" class="form-control" pattern="(6|7|9)\d{8}" #email="ngModel" [class.form-control-danger]="email.invalid && email.touched"
                  autofocus [required]="true">
                <small class="form-text error" *ngIf="email.invalid && email.touched && email.errors?.required">
                  Telefono obligatorio
                </small>
                <small class="form-text error" *ngIf="email.invalid && email.touched && email.errors?.pattern">
                  Telefono no válido
                </small>
                <nb-checkbox [value]="config.Disponible" (change)="config.Disponible = !config.Disponible;">24 horas</nb-checkbox>
              </div>
            </div>
          </div>
          <button (click)="updateConfig()" class="btn btn-primary btn-sm">Aceptar</button>
        </nb-tab>
      </nb-tabset>
    </nb-card>
  </div>
</div>