<h1 class="title">Iniciar Sesión</h1>
<small class="form-text sub-title">¡Hola! Inicie sesión con su usuario y contraseña</small>

<form #form="ngForm" autocomplete="false" (ngSubmit)="login(form)">

  <!-- <div *ngIf="showMessages.error && errors && errors.length > 0 && !submitted" class="alert alert-danger" role="alert">
      <div>
        <strong>Oh snap!</strong>
      </div>
      <div *ngFor="let error of errors">{{ error }}</div>
    </div>
    
    <div *ngIf="showMessages.success && messages && messages.length > 0 && !submitted" class="alert alert-success" role="alert">
      <div>
        <strong>Hooray!</strong>
      </div>
      <div *ngFor="let message of messages">{{ message }}</div>
    </div> -->

  <div class="form-group">
    <label for="input-email" class="sr-only">Email address</label>
    <input name="email" [(ngModel)]="user.loginId" id="email" pattern=".+@.+..+" class="form-control" placeholder="Dirección email"
      #email="ngModel" [class.form-control-danger]="email.invalid && email.touched" autofocus [required]="true">
    <small class="form-text error" *ngIf="email.invalid && email.touched && email.errors?.required">
      Email obligatorio
    </small>
    <small class="form-text error" *ngIf="email.invalid && email.touched && email.errors?.pattern">
      Email no válido
    </small>
  </div>

  <div class="form-group">
    <label for="input-password" class="sr-only">Contraseña</label>
    <input name="password" [(ngModel)]="user.password" type="password" id="input-password" class="form-control" placeholder="Contraseña"
      #password="ngModel" [class.form-control-danger]="password.invalid && password.touched" [required]="true" [minlength]="config.password.minLength"
      [maxlength]="config.password.maxLength">
    <small class="form-text error" *ngIf="password.invalid && password.touched && password.errors?.required">
      Contraseña obligatorio
    </small>
    <small class="form-text error" *ngIf="password.invalid && password.touched && (password.errors?.minlength || password.errors?.maxlength)">
      Contraseña debería contener desde {{ config.password.minLength }} a {{ config.password.maxLength }} caracteres
    </small>
  </div>

  <div class="form-group accept-group col-sm-12">
    <nb-checkbox name="rememberMe" [(ngModel)]="user.rememberMe">Recordarme</nb-checkbox>
    <!-- <a class="forgot-password" routerLink="../request-password">Forgot Contraseña?</a> -->
  </div>

  <button [disabled]="submitted || !form.valid" class="btn btn-block btn-hero-success" [class.btn-pulse]="submitted">
    Iniciar Sesión
  </button>
</form>

<div class="links">
  <small class="form-text">
    ¿No tienes cuenta?
    <a href="#/public/register">
      <strong>Registro</strong>
    </a>
  </small>
</div>