<div class="row">
  <h1 class="title aService col-12">Accesibilidad</h1>
</div>

<div class="row">
  <!-- <div class="col-xxxl-3 col-md-6">
    <ngx-status-card title="Narrador de texto" type="info" [on]='audioServiceStatus' (change)='toggleAudioService($event)'>
      <i class="nb-audio"></i>
    </ngx-status-card>
  </div>

  <div class="col-xxxl-3 col-md-6">
    <ngx-status-card title="Narrador Automático" type="info" [on]='autoplayAudioServiceStatus' (change)='toggleAutoAudioService($event)'>
      <i class="ion-play"></i>
    </ngx-status-card>
  </div> -->

  <div class="col-xxxl-3 col-md-6">
    <ngx-status-card title="Daltonismo" type="info" [on]='autoplayDaltServiceStatus' (change)='toggleDaltService($event)'>
      <i class="ion-play"></i>
    </ngx-status-card>
  </div>

  <div class="col-xxxl-3 col-md-6">
    <ngx-status-card title="Texto Grande" type="info" [on]='autoplayTextServiceStatus' (change)='toggleTextService($event)'>
      <i class="ion-play"></i>
    </ngx-status-card>
  </div>

  <div class="col-xxxl-3 col-md-6" style="background-color: white; border-radius: 20px;">
    <h5>Cambiar tamaño de texto</h5>
      <input style="width: 100%" type="range" min="0.7" max="1.5" step="0.01" (change)="changeRange($event)">
  </div>
</div>

<div class="row">
  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
  </div>

  <div class="col-xxxl-9 col-xxl-8 col-lg-7 col-md-6">
  </div>
</div>

<div class="row">
  <div class="col-xxxl-9 col-xl-12">
  </div>

  <div class="col-xxxl-3 col-xxl-4 col-lg-7 col-md-6">
  </div>

  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
  </div>

  <div class="col-xxxl-3 col-xxl-4 col-md-5">
  </div>

  <div class="col-xxxl-6 col-xxl-12 col-md-7">
  </div>
</div>