// themes - our custom or/and out of the box themes
@import 'themes';

// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/all';

// loading progress bar theme
@import './pace.theme';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();

  // loading progress bar
  @include ngx-pace-theme();

  .custom-control .custom-control-indicator {
    border-radius: 50%; // TODO: quickfix for https://github.com/akveo/nebular/issues/275
  }

  :root {
    --dinamic-font-h1: 1.5rem;
    --dinamic-font-h2: 1.5rem;
    --dinamic-font-h3: 1.5rem;
    --dinamic-font-h4: 1.5rem;
    --dinamic-font-h5: 1.5rem;
    --dinamic-font-h6: 1.5rem;
    --dinamic-font-p: 0.75rem;
  }

  h1 {
    font-size: var(--dinamic-font-h1);
  }
  h2 {
    font-size: var(--dinamic-font-h2);
  }
  h3 {
    font-size: var(--dinamic-font-h3);
  }
  h4 {
    font-size: var(--dinamic-font-h4);
  }
  h5 {
    font-size: var(--dinamic-font-h5);
  }
  h6 {
    font-size: var(--dinamic-font-h6);
  }
  p, div {
    font-size: var(--dinamic-font-p);
  }

};
