<div class="row">
  <div class="col-12">
    <nb-card>
      <nb-tabset>
        <nb-tab tabTitle="Visita">

          <form>

            <div class="form-group">
              <label for="input-email">Direccion de la vistia</label>
              <input name="email" [(ngModel)]="direccion" id="input-email" class="form-control"
                #email="ngModel" [class.form-control-danger]="email.invalid && email.touched" autofocus [required]="true">
              <small class="form-text error" *ngIf="email.invalid && email.touched && email.errors?.required">
                Direccion obligatoria
              </small>
            </div>

            <button type="submit" (click)="crearAviso()" class="btn btn-primary btn-sm">Solicitar visita</button>
            
          </form>

        </nb-tab>
        <nb-tab tabTitle="Configuracion">
          <div class="row">
            <div class="col-6">
              <div class="form-group row">
                <label for="inputEmail2" class="col-sm-3 col-form-label">Nueva Contraseña</label>
                <div class="col-sm-4">
                  <input id="inputEmail2" [(ngModel)]="config.Contrasena" class="form-control" type="password" />
                </div>
              </div>
              <div class="form-group row">
                <label for="inputEmail3" class="col-sm-3 col-form-label">Repetir Contraseña</label>
                <div class="col-sm-4">
                  <input id="inputEmail3" [(ngModel)]="config.Contrasena1" class="form-control" type="password" />
                </div>
              </div>

            </div>
            <div class="col-6">
              <div class="form-group row">
                <label for="inputEmail2" class="col-sm-3 col-form-label">Telefono</label>
                <div class="col-sm-4">
                  <input id="inputEmail2" [(ngModel)]="config.Telefono" class="form-control" type="number" />
                </div>
              </div>
            </div>
          </div>
          <button (click)="updateConfig()" class="btn btn-primary btn-sm">Aceptar</button>
        </nb-tab>
      </nb-tabset>
    </nb-card>
  </div>
</div>

<div id="ambulancia" *ngIf="showTransition">
  <img [@ambulance]="animate" (@ambulance.done)="animationDone($event)" src="assets/ambulanciaPerro.png" alt="Imagen Ambulancia">
</div>