<div class="row">
  <div class="col-12">
    <nb-card style="padding: 20px;">
      <div class="row">
        <div class="col-4">Cliente: Zacarías</div>
        <div class="col-4">DNI: 55555552D</div>
        <div class="col-4">Telefono: 123456789</div>
      </div>

      <ng2-smart-table [settings]="settingsClientes" [source]="sourceClientes" (deleteConfirm)="onDeleteConfirm($event)"></ng2-smart-table>
    </nb-card>
  </div>
</div>