<nb-layout [center]="layout.id === 'center-column'" windowMode>
    <!-- <nb-layout-header fixed>
        <ngx-header [position]="sidebar.id === 'left' ? 'normal': 'inverse'"></ngx-header>
    </nb-layout-header>

    <nb-sidebar class="menu-sidebar" tag="menu-sidebar" responsive [right]="sidebar.id === 'right'">
        <ng-content select="nb-menu"></ng-content>
    </nb-sidebar> -->


    <nb-layout-column class="main-content">
        <div class="row">
            <div class="col-xxxl-1 col-lg-2 col-md-3 col-sm-2 hidden-xs">
                <img id="imgLogo" src="/assets/logotipo.png" alt="Logo" />
                <span>Logo</span>
            </div>
            <div class="col-lg-8 col-md-6 col-sm-10 col-xs-10">
                <h1>CliniCan</h1>
                <ngx-breadcumb></ngx-breadcumb>
            </div>
            <div class="col-lg-2 col-md-3 col-xs-12" *ngIf="!isLoggedIn()">
                <div class="form-group row">
                    <div class="col-sm-12">
                        <input [(ngModel)]="user.loginId" class="form-control" placeholder="LoginId" type="text" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12">
                        <input [(ngModel)]="user.password" class="form-control" placeholder="Contraseña" type="password" />
                    </div>
                </div>
                <button class="btn btn-primary btn-sm" (click)="login()">Iniciar sesion</button>

            </div>

            <div class="col-lg-2 col-md-3 col-xs-12" *ngIf="isLoggedIn()">
                {{userName()}}<br>
                <button class="btn btn-primary btn-sm" (click)="logout()">Cerrar sesion</button>
            </div>
        </div>
        <div class="page-content">
            <ng-content select="router-outlet"></ng-content>
        </div>
    </nb-layout-column>
    <!-- 
    <nb-layout-footer fixed>
        <ngx-footer></ngx-footer>
    </nb-layout-footer> -->
</nb-layout>