<nb-card>
  <nb-card-body>
    <div class="action-groups-header aService">
      Action Groups
    </div>
    <nb-actions size="medium">
      <nb-action icon="nb-menu"></nb-action>
      <nb-action icon="nb-search"></nb-action>
      <nb-action icon="nb-email"></nb-action>
      <nb-action disabled icon="nb-notifications"></nb-action>
      <nb-action>
        <nb-user name="Han Solo"></nb-user>
      </nb-action>
      <nb-action icon="nb-gear"></nb-action>
    </nb-actions>
  </nb-card-body>
</nb-card>
