<div class="row show-grid">
  <div class="col-md-6 offset-md-3">
    <div>Texto de bienvenida</div>
  </div>

  <div class="col-10 offset-1">
    <div>Texto de presentacion de CliniCan</div>
  </div>
</div>

<div class="row">
  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
      <h1>Nuestros veterinarios</h1>
      <ul>
        <li>Example</li>
        <li>Example</li>
        <li>Example</li>
        <li>Example</li>
      </ul>
  </div>

  <div class="col-xxxl-9 col-xxl-8 col-lg-7 col-md-6">
      <h1>Nuestros veterinarios</h1>
      <ul>
        <li>Example</li>
        <li>Example</li>
        <li>Example</li>
        <li>Example</li>
      </ul>
  </div>
</div>

<a href="#/" rel="license">Aviso legal</a>
